.fade-animations-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.fade-animation, .fade-animation-side {
    position: sticky;
    width: 100%;
    top: 7%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    text-align: center;
    color: white;
}

.fade-animation-side {
    width: 50%;
    top: 50%;
    left: 50%;
    text-align: left;
    transform: translateY(-50%);
}

.fade-animation h1, .fade-animation-side h1 {
    font-size: 45px;
}

.fade-animation p, .fade-animation-side p {
    font-size: 22px;
    margin: 15px auto;
}

.visible {
    opacity: 1;
}
  
.fade-in {
opacity: 1;
}

.fade-out {
opacity: 0;
}
  