@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-primary: #418EC6;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #040631 !important;
}

* {
    box-sizing: border-box;


}

.navbar-expand-md {
    background-color: #040631 !important;
}

.hidden {
    visibility: hidden;
}


.color-primary {
    color: var(--color-primary) !important;
    font-weight: 600;
}

.primary-heading {
    font-weight: 300;
}

.main-container {
    background-color: #040631 !important;
    position: relative;
}

.hero-section {
    position: sticky;
    top: 45%;
    text-align: center;
    color: white;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    max-width: 500px;
    margin: 0 auto;
}

.hero-section h1 {
    font-size: 45px;
}

.hero-section p {
    font-size: 24px;
}

.banner {
    margin-top: 237px;
    color: white;
    position: relative;
}

.banner-row {
    height: 400px;
    position: relative;
}

.banner-row .col-md-6 {
    padding: 0 !important;
}

.banner-img {
    height: 100%;
    width: 100%;
    min-height: 155px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 20px;
}

.banner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid #FFFFFF; */
    border-radius: 20px;
    padding: 0 12%;
    backdrop-filter: blur(23px);
    font-size: 18px;
}

.banner .filled-circle {
    left: 50%;
    transform: translateX(-50%);
}

.banner .banner-doodle {
    position: absolute;
    z-index: 0;
}

.u-remove-border-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.u-remove-border-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.animated-ovan-section {
    display: flex;
    justify-content: center;
    padding: 200px 0 100px 0;
}

.animated-ovan {
    width: 100%;
    max-width: 800px;
}

.faq-heading {
    display: flex !important;
    align-items: center !important;
    gap: 5% !important;
    color: white;
    margin-bottom: 50px;
}

.faq-heading h1 {
    font-size: 100px;
    margin-left: 14px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}

.faq-heading p {
    font-size: 16px;
    margin-top: 59px;
    margin-bottom: 0;
    margin-top: 29px;
    /* margin-left: 116px; */
}

.faqs-section {
    padding: 0px 6%;
    color: white;
    background-color: #040631;
    margin-top: 4%;
}

.faqs-section .accordion-item {
    z-index: 9;
    overflow: hidden;
    width: 100%;
    margin: 10px 0%;
    padding-right: 0px;
    border-radius: 20px;
    /* background-color: #FFFFFF; */
    color: white;
    /* box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.13) !important; */
}


.faqs-section .accordion-header button {
    display: flex;
    width: 100%;
    height: 64px;
    padding: -1px 0px 0px 0%;
    justify-content: center !important;
    align-items: center !important;
    /* border-bottom: 1px none #fff; */
    background-color: transparent;
    color: white !important;
    font-size: 19px;
    font-weight: 400;
    background-color: #040631 !important;
    /* white-space: break-spaces; */
}

.faqs-section .accordion-body {
    position: relative;
    display: block;
    width: 100%;
    /* background-color: hsla(0, 0%, 100%, 0); */
    margin-top: -17px;
    padding: -1px 30px 10px;
    background-color: #040631 !important;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}

.faqs-container {
    position: relative;
}

.faqs-doodle {
    position: absolute;
}

.join-demo-section {
    text-align: center;
    padding: 35px 0;
}

.join-demo-section h1 {
    font-size: 55px;
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.kitchen-product-section {
    height: 650px;
}

.kitchen-product-img {
    /* background: url("/public/assets/images/kitchen-product-bg.png"); */
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    background-color: rgb(30, 29, 75);
    color: white;
    padding: 20px 0 0 0;
}

.footer p,
.footer a {
    font-size: 15px;
    color: white;
    font-weight: 100;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer h6 {
    font-size: 20px;
    margin-bottom: 2px;
}

.footer-credits {
    font-size: 14px;
}

.doodles {
    position: absolute;
    height: 100%;
    width: 100%;
}

.doodles img {
    position: absolute;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

h1.visible {
    opacity: 1;
}

h1.fade-in {
    opacity: 1;
}

h1.fade-out {
    opacity: 0;
}

.call-to-action-section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #040631;
    color: white;
}

.call-action-form {
    width: 80%;
}

.app-btn {
    transition: all 0.2s ease, visibility 0s;
    border-radius: 15px !important;
    border: 2px solid #FFFFFF !important;
    background: #2534B4 !important;
    color: white !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}