@media only screen and (max-width: 480px) {
    .hero-section {
        top: 30%;
    }

    .hero-section h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .fade-animation {
        top: 8%
    }

    .fade-animation h1, .fade-animation-side h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .fade-animation p, .fade-animation-side p {
        width: 100%;
        font-size: 18px;
    }

    .scene-canvas {
        width: 100%;
        height: 40%;
        top: 52%;
    }
    
    .banner {
        margin-top: 100px;
    }

    .banner-content {
        padding: 20px;
    }

    .banner-content p {
        font-size: 16px;
    }

    .faq-heading h1 {
        font-size: 70px;
    }

    .faq-heading p {
        font-size: 16px;
    }

    .faqs-section .accordion-header button {
        font-size: 25px;
        padding: 15px 10px;
    }

    .faqs-section .accordion-body {
        font-size: 18px;
    }

    .join-demo-section h1 {
        font-size: 35px;
    }

    .faqs-doodle, .doodles, .banner-doodle  {
        display: none;
    }

    .fade-animation-side {
        width: 100%;
        top: 8%;
        transform: translate(0);
    }
}

@media only screen and (max-width: 767px) {
    .banner-img, .banner-content {
        border-radius: 0;
    }

    .fade-animation-side {
        width: 100%;
        top: 0%;
        transform: translate(0);
    }
}