.scroll-container {
    position: relative;
}

.scroll-sequence__container {
    position: relative;
}

.scroll-sequence {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.scene-canvas {
    position: absolute;
    height: 50%;
    width: 50%;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}